* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Main BG */ --Very-dark-blue-MBG: hsl(233, 47%, 7%);
  /* Card BG */ --Dark-desaturated-blue: hsl(244, 38%, 16%);
  /* Accent */ --Soft-violet: hsl(277, 64%, 61%);
  
  /* Main Heading & Stats */ --White: hsl(0, 0%, 100%);
  /* Main Paragraph */ --Slightly-white-MP: hsla(0, 0%, 100%, 0.75);
  /* Stats Heading */ --Slightly-white-SH: hsla(0, 0%, 100%, 0.6);

  --fs-body: .95rem;
  --fs-heading: 2rem;
  --fs-stat-number: 1.5rem;
}

h1 {
    line-height: 1.1;
}

img {
    display: block;
    max-width: 100%;
    margin-inline: auto;
}

body {
  font-family: "Lexend Deca", sans-serif;
  font-size: var(--fs-body);
  font-weight: 400;
  color: var(--Slightly-white-MP);
  background-color: var(--Very-dark-blue-MBG);
}

.container {
  justify-content: center;
  min-height: 100dvh;
}

.container-column {
  max-width: 70em;
  border-radius: 0.5rem;
  overflow-y: hidden;
  background-color: var(--Dark-desaturated-blue);
}

.container-column * {
  flex-basis: 50%;
}

.flex {
  display: flex;
  align-items: center;
}

.text-container {
  padding: 4rem;
}

.title, .stat-number {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: var(--fs-heading);
  color: var(--White);
}

.title span {
  color: var(--Soft-violet);
}

.desc {
  margin-top: 2rem;
}

.stats {
  gap: 1rem;
  margin-top: 3.75rem;
}

.stat-number {
  font-size: var(--fs-stat-number);
  color: var(--White);
}

.stat-desc {
  text-transform: uppercase;
  margin-top: 0.5rem;
}

.img-container {
  position: relative;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--Soft-violet); 
  opacity: 0.3;
  inset: 0;
  border-radius: 0 0.8rem 0.8rem 0;
}

@media (max-width: 800px) {
  .container-column {
      width: 90%;
      margin: 4rem 0;
      text-align: center;
      flex-direction: column-reverse;
  }

  .stats {
      flex-direction: column;
  }
}

@media (max-width: 500px) {
  :root {
      --fs-heading: 1.75rem
  }

  .text-container {
      padding: 2rem 1.5rem;
  }

  .stats {
      gap: 2rem;
  }
} 
